/**
* BODY
*/

.body {
  margin-top: rem(80);
}

/************************** Mixins in media-queries.scss **************************/
@include media('DESKTOPS', max){

  .body {
    margin-top: rem(70);
  }

}
