/**
* BODY
*/

// Mobile First
.body {
  // margin-top: rem(70);
}

/************************** MEDIA QUERIES **************************/

@include media('DESKTOPS', min){

  .body {
    // margin-top: rem(80);
  }

}
