/**
* FOOTER BLOCK
*/

// Mobile First
.footer {
  padding: rem(30 0);
  background-color: $white;
  color: $black;

  .title {
    color: darken($primary, 3%);
    font-weight: bold;
    font-size: rem(16);
  }

  .hrfooter{
    @include hr($primary, solid, 2);
  }

  .logo-block {
    padding: rem(15 0);
    // Grid
    @include make-xs-column(12);
  }

  .logo-block .logo {
    width: rem(50);
  }

  .map-block {
    padding: rem(15 0);
    // Grid
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
  }

  .contact-block {
    padding: rem(15 0);
    height: rem(160);
    // Grid
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
  }

  .social-block {
    padding: rem(15 0);
    height: rem(160);
    // Grid
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
  }

  .navlist-block {
    @extend .hidden-xs;
    @extend .hidden-sm;
    padding: rem(15 0);
    // Grid
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
    @include make-lg-column(6);
  }

}

/************************** MEDIA QUERIES **************************/
@include media('PHONES', min) {

  .footer {

    .title {
      font-size: rem(18);
    }

  }

}
