/**
* FOOTER BLOCK
*/

// Mobile First
.footer {
  padding: rem(50 0);
  background-color: $white;
  color: $black;

  .title {
    color: darken($primary, 3%);
    font-weight: bold;
    font-size: rem(16);
  }

  .footer-logo {
    margin-bottom: rem(30);
    // Grid
    @include make-xs-column(12);
  }

  .footer-logo .logo {
    width: rem(50);
  }

  .map-block {
    // Grid
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
  }

  .contact-block {
    // Grid
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
  }

  .social-block {
    // Grid
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
  }

  .navlist-block {
    // Grid
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
  }

}

/************************** MEDIA QUERIES **************************/
@include media('PHONES', min) {

  .footer {

    .title {
      font-size: rem(18);
    }

  }

}
