/**
* HEADER BLOCK
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1499;
  width: 100%;
  height: rem(80);
  color: $white;
  background-color: $primary;

  .brand-logo {
    width: auto;
    line-height: rem(80);
    float: left;
  }

  .brand-logo .logo {
    color: $white;
    width: 100%;
  }

}

/************************** Mixins in media-queries.scss **************************/

@include media('DESKTOPS', max) {

  .header {
    height: rem(70);

    .brand-logo {
      line-height: rem(70);
    }

  }

}
