/**
* HEADER BLOCK
*/

// Mobile First
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1499;
  width: 100%;
  height: rem(70);
  color: $white;
  background-color: $primary;

  .brand-logo {
    width: auto;
    line-height: rem(70);
    float: left;
  }

  .brand-logo .logo {
    color: $white;
    width: rem(30);
  }

}

/************************** MEDIA QUERIES **************************/

@include media('DESKTOPS', min) {

  .header {
    height: rem(80);

    .brand-logo {
      line-height: rem(80);
    }

    .brand-logo .logo {
      color: $white;
      width: rem(50);
    }

  }

}
