/**
* SECTION BLOCK
*/

// Mobile First
.section {
  width: 100%;
  padding: rem(70 0);
  overflow: hidden;
  color: lighten($black, 20%);
  background-color: $white;

  &.-intro {
    padding: 0;
  }

  // Variants
  &.-othersection {
    @include flex-align(center);
    color: $white;
    background-color: $primary;
  }

}
