/////////////////////////////
////// TEXT HELPERS /////////
/////////////////////////////

.font {
  &-bold { font-weight: 700; }
  &-black { font-weight: 900; }
  &-italic { font-style: italic; }
}

/* Text align classes */
.-justify{ text-align: justify !important; }
.-left{ text-align: left !important; }
.-center{ text-align: center !important; }
.-right{ text-align: right !important; }
