/**
* HR
*/

@mixin hr($color: $black, $style: solid, $border-width: (1), $margin: 10 0, $border-radius: 10){
  border-color: $color;
  border-style: $style;
  border-width: rem($border-width);
  margin: rem($margin);
  border-radius: rem($border-radius);
}
