/**
* FOOTER NAVLIST
*/

.footer-navlist {

  > .navitem {
    padding-bottom: rem(5);
  }

  > .navitem > .navlink {
    color: $black;
    font-size: rem(15);
  }

  > .navitem > .navlink:hover {
    color: $secondary;
    transition: all 0.2s;
  }

}
