/**
* FOOTER SOCIAL
*/

.footer-social{

  > .item{
    display: inline-block;
  }

  > .item > .link{
    color: $black;
    font-size: rem(12);
    padding-right: rem(20);
  }

  > .item > .link:hover{
    color: $secondary;
    transition: all 0.2s;
  }

}
