/**
* FOOTER NAVLIST
*/

.footer-navlist {

  > .navitem {
    padding-bottom: rem(5);
  }

  > .navitem > .navlink {
    color: $white;
    font-size: rem(15);
  }

  > .navitem > .navlink:hover {
    color: $secondary;
  }

}
