/**
* HEADER MENU TOGGLE
*/

.menu-toggle {
  position: absolute;
  top: rem(23);
  right: rem(15);
  width: rem(22);
  height: rem(22);
  cursor: pointer;

  .bar {
    position: absolute;
    width: 100%;
    height: rem(3);
    background: $white;
    margin-top: rem(10);
    transition: all 0.3s;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: rem(3);
      background: #fff;
      top: rem(-7);
      transition: all 0.3s;
    }

    &:after {
      top: rem(7);
    }
  }
}

/************************** Mixins called in media-queries.scss **************************/

@include media_only('TABLETS'){
  .menu-toggle{ right: rem(85); }
}

@include media('DESKTOPS', min){
  .menu-toggle{ display: none; visibility: hidden; }
}
