/**
* ALIGN CONTENTS
*/

// Align content vertically
@mixin flex-align($input: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: $input;
  -ms-flex-pack: $input;
  -webkit-justify-content: $input;
  justify-content: $input;
  -webkit-box-align: $input;
  -ms-flex-align: $input;
  -webkit-align-items: $input;
  align-items: $input;
}
