// FOOTER BLOCK

.footer-block {
  color: $lightblack;
  background-color: $white;
  @include container-custom();
  padding-top: 25px;
  padding-bottom: 25px;
  @include flex($justify-content: space-between);

  > .link {
    color: $primary;
    font-size: $fontsize-medium;
    font-family: $opensansBold;
  }

  > .social > .twitter {
    margin-right: 20px;
  }

}

// MEDIA QUERIES
@include media("PHONES", max) {
  .footer-block {

    > .social > .twitter {
      margin-right: 10px;
    }

  }
}
