// FOOTER LOGO

.footer-logo {
  @include flex($flex-direction: column);

  > .logo {
    width: rem(100);
    height: auto;
    fill: $lightgray;
  }

  > .logo > .star {
    fill: $secondary;
    stroke: none;
  }

}


///////////////////////////// MEDIA QUERIES
@include media("DESKTOPS", max) {

  .footer-logo {

    > .logo {
      width: rem(80);
    }

  }

}
