// SOCIAL BUTTONS

.footer-social {
  @include flex($flex-direction: column);

  > .followus::before, > .followus::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: rem(11);
    left: 26%;
    width: 20%;
    border-top: 1px solid darken($gray, 10%);
    border-radius: rem(10);
  }

  > .followus::after {
    left: unset;
    right: 26%;
    margin-top: rem(-11);
  }

  > .followus {
    font-size: $fontsize-small;
    color: $gray;
    margin-bottom: rem(10);
  }

  > .btn-social {
    @include flex();
  }

  > .btn-social > .btn {
    @extend .button;
    @include flex();
    text-align: left;
    padding: rem(5 35);
    margin: rem(0 10);
    border-radius: rem(30);
  }

  > .btn-social > .btn.-facebook {
    color: $white;
    background-color: $facebook;
  }

  > .btn-social > .btn.-facebook:focus,
  > .btn-social > .btn.-facebook:active {
    color: $white;
    background-color: darken($facebook, 10%);
  }

  > .btn-social > .btn.-instagram {
    color: $black;
    background-color: $white;
  }

  > .btn-social > .btn.-instagram:focus,
  > .btn-social > .btn.-instagram:active {
    color: $black;
    background-color: darken($white, 10%);
  }

  > .btn-social > .btn.-whatsapp {
    @extend .hidden-lg;
    @extend .hidden-md;
    @extend .hidden-sm;
    color: $white;
    background-color: $third;
  }

  > .btn-social > .btn.-whatsapp:focus,
  > .btn-social > .btn.-whatsapp:active {
    color: $third;
    background-color: darken($third, 10%);
  }

  > .btn-social > .btn > .text {
    font-size: $fontsize-small;
  }

  > .btn-social > .btn > .text > .socialname {
    font-size: $fontsize-medium2;
    letter-spacing: 0;
    text-transform: lowercase;
  }

  > .btn-social > .btn > .icon {
    line-height: 0;
    margin-left: rem(30);
    font-size: $fontsize-large;
  }

}

////////////////////////////////// MEDIA QUERIES
@include media_only('TABLETS') {

  .footer-social {

    > .followus::before, > .followus::after {
      left: 24%;
    }

    > .followus::after {
      left: unset;
      right: 24%;
    }

    > .btn-social > .btn {
      padding: rem(5 20);
      margin: rem(0 5);
    }

    > .btn-social > .btn  > .icon {
      margin-left: rem(20);
    }

  }

}

@include media('TABLETS', max) {

  .footer-social {

    > .followus::before, > .followus::after {
      display: none;
      visibility: hidden;
    }

    > .btn-social > .btn {
      width: rem(50);
      height: rem(50);
      padding: 0;
      margin: rem(3 5 0 5);
      border-radius: 50%;
    }

    > .btn-social > .btn > .text {
      display: none;
      visibility: hidden;
    }

    > .btn-social > .btn  > .icon {
      margin: 0;
    }

  }

}
