// HEADER LOGO

.header-logo {

  .logo {
    margin-top: 8px;
    transition: all 0.4s;
  }

  .logo:hover {
    opacity: 0.8;
  }

  // Variants (animation)
  .logo.-small {
    width: rem(140);
    transition: all 0.4s;
  }

}
