// HEADER BLOCK

.header-block {
  @include flex($justify-content: space-between);
  @include container-custom();
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: rem(80);
  z-index: 1000;
  background-color: $black;

}
