// HEADER LOGO

.header-logo {

  .logo {
    margin-top: -8px;
    width: rem(160);
    opacity: 1;
    fill: $white;
    transition: all 0.4s;
  }

  .logo:hover {
    opacity: 0.8;
  }

  .logo .star {
    fill: $primary;
  }

  .logo .shadowstar {
    fill: $black;
    stroke: $black;
  }

  // Variants (animation)
  .logo.-small {
    width: rem(140);
    transition: all 0.4s;
  }

}

///////////////////////////////////////// MEDIA QUERIES
@include media('DESKTOPS', max) {

  .header-logo {

    .logo {
      margin-top: unset;
      width: rem(140);
    }

    .logo.-small {
      width: rem(120);
    }

  }

}
