// HEADER MENU

.header-menu {

  > .list {
    @include flex($justify-content: space-around);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  >.list > .item {
    margin: 0;
    padding: rem(0 8);
  }

  >.list > .item > .link {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $fontsize-small2;
  }

  > .list > .item > .link:hover {
    color: $primary;
  }

  // Variants
  > .list > .item > .link.-active {
    color: $secondary;
  }


  >.list > .item.-orcamento {
    padding: 0;
    margin-left: rem(10);
  }

  >.list > .item.-orcamento > .link {
    @extend .button;
    color: $white;
    background-color: $secondary;
    font-weight: bold;
    text-transform: uppercase;
    padding: rem(10 20);
    font-size: $fontsize-small2;
    border-radius: rem(30);
  }

  >.list > .item.-orcamento > .link:focus,
  >.list > .item.-orcamento > .link:active {
    background-color: darken($secondary, 10%);
  }

  > .list > .item.-followus {
    @extend .visible-xs;
    @extend .visible-sm;
  }

  > .list > .item.-social {
    @extend .visible-xs;
    @extend .visible-sm;
    padding: 0;
  }

}

///////////////////////////////////////////////////// MEDIA QUERIES
@include media('DESKTOPS', max) {

  .header-menu {
    position: fixed;
    top: rem(80);
    overflow: hidden;
    right: rem(-300);
    max-width: 100%;
    width: rem(300);
    height: 100%;
    border-top: 1px solid darken($gray, 30%);
    background-color: $black;

    > .list {
      @include flex($flex-direction: column, $align-items: flex-start, $justify-content: flex-start);
      height: 100%;
      overflow: scroll;
      padding-top: rem(60);
      padding-bottom: rem(100);
    }

    > .list > .item {
      padding: unset;
      padding-left: rem(40);
      margin: unset;
      margin-bottom: rem(30);
    }

    > .list > .item > .link {
      font-size: $fontsize-medium2;
      color: $lightgray;
      padding: unset;
      border-bottom: unset;
    }

    // Variants
    > .list > .item > .link.-active {
      color: $white;
    }

    >.list > .item.-orcamento {
      padding: unset;
      margin-right: unset;
      margin-left: unset;
    }

    >.list > .item.-orcamento > .link {
      font-size: $fontsize-medium2;
      font-weight: bold;
      color: $lightgray;
      padding-left: rem(40);
      background-color: unset;
    }

    > .list > .item.-followus {
      margin-top: rem(30);
      align-self: center;
      padding-left: 0;
    }

    > .list > .item.-followus > .link {
      font-weight: normal;
      font-size: $fontsize-small;
      color: $gray;
    }

    > .list > .item.-social {
      margin: unset;
      padding: unset;
      line-height: unset;
      align-self: center;
    }

    > .list > .item.-social > .link > .icon {
      font-size: $fontsize-large;
      padding: rem(10 12 2 12);
      margin: rem(0 3);
      border-radius: 50%;
      background-color: $white;
      color: lighten($black, 10%);
    }

  }

}
