// HITS-BOX

.hits-box {
  margin-top: 25px;
  text-align: center;

  > .input {
    font-family: $robotoSlab;
    text-align: center;
    width: 180px;
    font-size: $size-2;
    color: $primary;
    border: 1px solid darken($third, 10%);
    border-radius: 6px;
  }

  > .paragraph {
    color: $secondary;
    margin-top: 8px;
    font-size: $size-7;
  }

}

// MEDIA QUERIES
@include media("TABLETS", max) {

  .hits-box {

    > .input {
      width: 150px;
    }

  }

}
