// LIST-LINKS

.list-links {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  width: 40%;

  > .item {
    border-bottom: 1px solid $third;
    padding-bottom: 5px;
    margin-bottom: 10px;
    @include flex();
  }

  > .item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  > .item > .link {
    color: $primary;
    letter-spacing: 0.5px;
    font-size: $size-6;
    margin-left: 0;
    margin-right: auto;
  }

  > .item > .hits {
    font-size: $size-5;
    color: $secondary;
    margin-left: auto;
    margin-right: 0;
  }

}

// MEDIA QUERIES
@include media("TABLETS", max) {

  .list-links{
    width: 100%;
  }

}
