// PAGE SCROLL

.page-scroll {
  @include flex();
  position: absolute;
  z-index: 1;
  width: 100%;

  &.-up{
    top: rem(-10);
    .icon {padding-top: rem(3);}
  }

  &.-down{
    bottom: 0;
    .icon {padding-top: rem(6);}
  }

  > .btn-roll {
    @include flex();
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    background-color: $black;
    color: $white;
    box-shadow: 1px 1px 3px $black;
    border: none;
    outline: unset;
  }

  > .btn-roll:hover {
    color: $lightgray;
  }

  > .btn-roll.-secondary {
    background-color: $secondary;
  }

  > .btn-roll > .icon {
    line-height: 0;
    font-size: $fontsize-large;
  }

}


///////////////////////////////////// MEDIA QUERIES
@include media_only('TABLETS') {

  .page-scroll {

    > .btn-roll {
      width: rem(45);
      height: rem(45);
    }

    > .btn-roll > .icon {
      // font-size: rem(35);
    }

  }

}

@include media_only('LARGE_PHONES') {

  .page-scroll {

    &.-down {
      display: none;
      visibility: hidden;
    }

  }

}


@include media('PHONES', max) {

  .page-scroll {

    &.-down {
      bottom: rem(50);
    }

    > .btn-roll {
      width: rem(40);
      height: rem(40);
    }

    > .btn-roll > .icon {
      // font-size: rem(30);
    }

  }

}
