// SECTION BLOCK

.section-block {
  width: 100%;
  overflow: hidden;
  @include flex($flex-direction: column);
  background-color: $white;

  > .title {
    font-family: $robotoSlab;
    color: $primary;
    font-size: $size-2;
    text-align: center;
  }

  > .subtitle {
    margin-top: 10px;
    text-align: center;
    color: $white;
    font-size: $size-5;
  }

  // Variants
  &.-home {
    height: 460px;
    @include container-custom();
    @extend .bg-cover;
    background-image: url('../../images/background-home.jpg');
    background-color: $primary;

    > .title {
      font-family: $robotoSlabBold;
      color: $white;
      font-size: $size-1;
    }
  }

  &.-top5 {
    @include container-custom();
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &.-hits {
    @include container-custom();
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $third;
  }

}

// MEDIA QUERIES
@include media("PHONES", max) {

  .section-block {

    > .subtitle > .break {
      display: none;
    }

  }

}
