// SHORTEN-LINKS

.shorten-links {
  margin-top: 40px;
  @include flex();
  width: 45%;

  > .inputbox {
    position: relative;
    align-self: flex-end;
    margin-left: 0;
    margin-right: 10px;
    width: 100%;
  }

  > .inputbox > .input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FF6A00;
    background-color: transparent;
    padding: 0;
    padding-bottom: 5px;
    @include placeholder-color(#FF6A00);
    color: #FF6A00;
    font-size: $size-5;
    text-align: left;
    outline: none;
  }

  > .inputbox > .input.-short {
    animation: anim2 0.5s 0.5s linear;
    color: $white;
  }

  > .inputbox > .icon {
    display: none;
    cursor: pointer;
    position: absolute;
    font-size: $size-4;
    top: 0;
    right: 0;
    color: $white;
  }

  > .btn {
    @extend .button;
    text-transform: uppercase;
    padding: 8px 15px;
    color: $white;
    background-color: #FF6A00;
    font-weight: bold;
    font-size: $size-6;
  }

  > .btn.-short {
    animation: anim2 0.5s linear;
  }

  @keyframes anim {
    to {
      color: transparent;
    }
  }

  @keyframes anim2 {
    50% {
      color: transparent;
    }

    100% {
      color: $white;
    }
  }

}

// MEDIA QUERIES
@include media_only("TABLETS") {

  .shorten-links {
    width: 50%;
  }

}

@include media_only("LARGE_PHONES") {

  .shorten-links {
    width: 70%;
  }

}

@include media("PHONES", max) {

  .shorten-links {
    width: 100%;
  }

}
