/**
* MEDIA QUERIES
*/

// /************************************** Breakpoints ***************************************/
// $breakpoints: (
//   "phone":        400px,
//   "phone-wide":   480px,
//   "phablet":      560px,
//   "tablet-small": 640px,
//   "tablet":       768px,
//   "tablet-wide":  1024px,
//   "desktop":      1248px,
//   "desktop-wide": 1440px
// );

$breakpoints: (
"PHONES":         576px,
"TABLETS":        768px,
"DESKTOPS":       992px,
"LARGE_DESKTOPS": 1200px
);

// /********************************** Mixins Media Queries **********************************/

// Custom media query
// Recebe 'device' e valor 'max' ou 'min'
@mixin media($device, $type: min) {
  @if map_has_key($breakpoints, $device) {
    $device: map_get($breakpoints, $device);
    @if $type == max {
      $device: $device - 1px;
    }
    @media only screen and (#{$type}-width: $device) {
      @content;
    }
  }
}

// Delimita media query para único device
// Default value 'TABLETS'
@mixin media_only($device : "TABLETS"){

  @if $device == "PHONES" {
    $phone-width: map_get($breakpoints, "PHONES");
    @media only screen and (max-width: $phone-width - 1px) {
      @content;
    }
  }

  @else if $device == "LARGE_PHONES" {
    $phone-width: map_get($breakpoints, "PHONES");
    $tablet-width: map_get($breakpoints, "TABLETS");
    @media only screen and (min-width: $phone-width) and (max-width: $tablet-width - 1px) {
      @content;
    }
  }

  @else if $device == "TABLETS" {
    $tablet-width: map_get($breakpoints, "TABLETS");
    $desktop-width: map_get($breakpoints, "DESKTOPS");
    @media only screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
      @content;
    }
  }

  @else if $device == "DESKTOPS" {
    $desktop-width: map_get($breakpoints, "DESKTOPS");
    $large-desktop-width: map_get($breakpoints, "LARGE_DESKTOPS");
    @media only screen and (min-width: $desktop-width) and (max-width: $large-desktop-width - 1px) {
      @content;
    }
  }

  // Custom breakpoint
  @else {
    @media only screen and #{$device} {
      @content;
    }
  }

}
