/**
* FOOTER SOCIAL
*/

// Mobile First
.footer-social{

  .list{
    list-style: none;
    padding: 0;
  }

  .list > .item{
    display: inline-block;
  }

  .list > .item > .link{
    color: $black;
    font-size: rem(12);
    padding-right: rem(20);
  }

  .list > .item > .link:hover{
    color: $secondary;
    transition: all 0.2s;
  }

}
