/**
* FOOTNOTE
*/

// Mobile First
.footer-note {
  color: $white;
  background-color: $primary;
  padding: rem(20 0);

  .copyright {
    text-align: center;
    font-size: rem(16);
    // Grid
    @include make-xs-column(12);
    @include make-sm-column(6);
  }

  .developer {
    margin-top: rem(10);
    font-size: rem(12);
    text-align: center;
    // Grid
    @include make-xs-column(12);
    @include make-sm-column(6);
  }

  .developer .heart {
    color: red;
  }

  .developer .link {
    color: darken($white, 15%);
  }

  .developer .link:hover {
    color: $white;
  }

}

/************************** MEDIA QUERIES **************************/
@include media('TABLETS', min) {

  .footer-note {
    padding: rem(30 0);

    .copyright{
      text-align: left;
    }

    .developer {
      text-align: right;
      margin-top: 0;
      font-size: rem(13);
    }

  }

}
