/**
* FOOTER NAVLIST
*/

// Mobile First
.footer-navlist {

  .navlist {
    position: relative;
    list-style: none;
    padding: 0;
    margin-right: rem(50);
    float: left;
    display: inline-block;
    transition: all .2s;
  }

  .navlist > .navitem {
    padding-bottom: rem(5);
  }

  .navlist > .navitem > .navlink {
    color: $primary;
    font-size: rem(15);
  }

  .navlist > .navitem > .navlink:hover {
    color: $secondary;
  }

}
