/**
* FOOTER NAVLIST
*/

// Mobile First
.footer-navlist {

  .navlist {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-right: rem(20);
    float: left;
    display: inline-block;
  }

  .navlist > .navitem {
    padding-bottom: rem(5);
  }

  .navlist > .navitem > .navlink {
    color: $black;
    font-size: rem(15);
  }

  .navlist > .navitem > .navlink:hover {
    color: $secondary;
    transition: all 0.2s;
  }

}
