/**
* FOOTER SOCIAL
*/

// Mobile First
.footer-social {

  .list {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .list > .item {
    display: inline-block;
    margin: rem(1 10);
  }

  .list > .item > .link
  .icon-facebook-before,
  .icon-twitter-before,
  .icon-instagram-before,
  .icon-whatsapp-before {
    color: $primary;
    font-size: rem(32);
  }

  .list > .item > .link
  .icon-facebook-before:hover,
  .icon-twitter-before:hover,
  .icon-instagram-before:hover,
  .icon-whatsapp-before:hover {
    color: $secondary;
    transition: all .2s;
  }

}

/************************** MEDIA QUERIES **************************/
@include media("PHONES", min) {

  .footer-social {

    .list > .item {
      margin: rem(0 10);
    }

    .list > .item > .link
    .icon-facebook-before,
    .icon-twitter-before,
    .icon-instagram-before,
    .icon-whatsapp-before {
      font-size: rem(40);
    }

  }

}

@include media("DESKTOPS", min) {

  .footer-social {

    .list > .item {
      margin: rem(0 5);
    }

    .list > .item > .link
    .icon-facebook-before,
    .icon-twitter-before,
    .icon-instagram-before,
    .icon-whatsapp-before {
      font-size: rem(30);
    }

  }

}

@include media("LARGE_DESKTOPS", min) {

  .footer-social {

    .list > .item {
      margin: rem(0 10);
    }

    .list > .item > .link
    .icon-facebook-before,
    .icon-twitter-before,
    .icon-instagram-before,
    .icon-whatsapp-before {
      font-size: rem(30);
    }

  }

}

