/**
* MAP
*/

.footer-map {

  > .map {
    width: 100%;
    height: 100%;
  }

  > .linkmap {
    @extend .btn;
    position: absolute;
    z-index: 1;
    right: rem(30);
    bottom: rem(30);
    padding: rem(10 20);
    border-radius: rem(50);
    font-size: rem(20);
    box-shadow: 1px 1px 2px $gray;
    color: $white;
    background-color: darken($secondary, 5%);
  }

  > .linkmap:hover, .linkmap:focus, .linkmap:active {
    color: $white;
    background-color: darken($secondary, 10%);
  }

}

/************************** Mixins in media-queries.scss **************************/
@include media('PHONES', max) {

  .footer-map {

    > .linkmap {
      right: rem(10);
      bottom: rem(25);
      font-size: rem(16);
    }

  }

}
