/**
* FOOTER NAVLIST
*/

// Mobile First
.footer-navlist {
  list-style: none;
  padding: 0;
  text-align: left;
  height: rem(125);

  > .navitem {
    padding-bottom: rem(5);
  }

  > .navitem > .navlink {
    color: $black;
    font-size: rem(15);
  }

  > .navitem > .navlink:hover {
    color: $secondary;
    transition: all 0.2s;
  }

}
