/**
* FOOTER CONTACT
*/

// Mobile First
.footer-contact {

  > .phonecall, > .emailsend {
    display: block;
    color: $secondary;
    font-size: rem(18);
  }

  > .emailsend {
    margin-top: rem(5);
    font-size: rem(16);
  }

  > .schedules {
    display: block;
    font-size: rem(11);
  }

}

/************************** MEDIA QUERIES **************************/
@include media('PHONES', min){

  .footer-contact {

    > .phonecall {
      font-size: rem(22);
    }

    > .emailsend {
      margin-top: rem(10);
    }

    > .schedules {
      font-size: rem(12);
    }

  }

}
