/**
* FOOTER RODAPÉ
*/

.footer-rodape {

  .copyright {
    text-align: left;
    font-size: rem(16);
  }

  .developer {
    text-align: right;
    font-size: rem(13);
  }

  .developer .heart {
    color: red;
  }

  .developer .link {
    color: darken($white, 15%);
  }

  .developer .link:hover {
    color: $white;
  }

}

/************************** Mixins in media-queries.scss **************************/
@include media('TABLETS', max) {

  .footer-rodape {

    .copyright{
      text-align: center;
    }

    .developer {
      margin-top: rem(10);
      font-size: rem(12);
      text-align: center;
    }

  }

}
