/**
* FOOTER SOCIAL
*/

.footer-social{
  height: rem(125);
  margin-bottom: rem(30);
  list-style: none;
  padding: 0;

  > .item{
    display: inline-block;
  }

  > .item > .link{
    color: $black;
    font-size: rem(12);
    padding-right: rem(20);
  }

  > .item > .link:hover{
    color: $secondary;
    transition: all 0.2s;
  }

}
