/**
* GOOGLE MAP
*/

// Mobile First
.google-map {
  position: relative;
  width: 100%;
  height: rem(250);
  margin-bottom: rem(30);

  > .map {
    width: 100%;
    height: 100%;
  }

  > .btnmap {
    @extend .btn;
    position: absolute;
    z-index: 1;
    right: rem(10);
    bottom: rem(25);
    padding: rem(10 20);
    border-radius: rem(50);
    font-size: rem(16);
    box-shadow: 1px 1px 2px $gray;
    color: $white;
    background-color: darken($secondary, 5%);
  }

  > .btnmap:hover, .btnmap:focus, .btnmap:active {
    color: $white;
    background-color: darken($secondary, 10%);
  }

}

/************************** Mixins in media-queries.scss **************************/
@include media('PHONES', min) {

  .google-map {
    height: rem(320);

    > .btnmap {
      right: rem(30);
      bottom: rem(35);
      font-size: rem(20);
    }

  }

}
