/**
* HEADER MENU TOGGLE
*/

/************************** Mixins called in media-queries.scss **************************/
@include media("DESKTOPS", max) {

  .menu-toggle {
    position: relative;
    float: right;
    top: rem(26);
    width: rem(28);
    height: auto;
    cursor: pointer;

    > .bar {
      position: relative;
      display: block;
      width: 100%;
      height: rem(3);
      margin: rem(8 0);
      background: $white;
      border-radius: rem(10);
      transition: all 0.3s;
    }

    > .bar:before, > .bar:after {
      content: "";
      position: absolute;
      width: 100%;
      height: rem(3);
      border-radius: rem(10);
      background: $white;
      top: rem(-8);
      transition: all 0.3s;
    }

    > .bar:after {
      top: rem(8);
    }

  }

}

@include media('DESKTOPS', min) {

  .menu-toggle {
    display: none;
    visibility: hidden;
  }

}
