/**
* SECTION FOOTER
*/

// Mobile First
.section-footer {
  @include make-row();
  margin-top: rem(40);
  text-align: center;

  > .block-1 {
    @include make-xs-column(12);
  }

  .paragraph {
    text-transform: capitalize;
  }

}

/************************** MEDIA QUERIES **************************/

@include media('TABLETS', min) {

  .section-footer {
    margin-top: rem(60);
  }

}
