/**
* SECTION CONTENT
*/

// Mobile First
.section-content {
  @include make-row();
  margin-top: rem(40);

  .title {
    margin-bottom: rem(10);
    font-size: rem(20);
    font-weight: bold;
    text-align: left;
  }

  .paragraph {
    margin-bottom: rem(25);
    font-size: rem(16);
    text-align: justify;
  }

  // Grid
  > .block-1 {
    @include make-xs-column(12);
    @include make-md-column(6); @include make-md-column-push(6);
    @include make-lg-column(6); @include make-lg-column-push(0);
  }

  > .block-2 {
    @include make-xs-column(12);
    @include make-md-column(6); @include make-md-column-pull(6);
    @include make-lg-column(6); @include make-lg-column-pull(0);
  }

  > .block-3 {
    @include make-xs-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);
  }

}

/************************** Mixins in media-queries.scss **************************/

@include media_only('LARGE_PHONES') {

  .section-content {
    margin-top: rem(45);

    .title {
      font-size: rem(22);
    }

  }

}

@include media_only('TABLETS') {

  .section-content {
    margin-top: rem(50);

    .title {
      font-size: rem(23);
    }

  }

}

@include media('DESKTOPS', min) {

  .section-content {
    margin-top: rem(60);

    .title {
      font-size: rem(25);
    }

  }

}
