/**
* SLIDE ANOTHER
*/

// Mobile First

/* Custom slide properties */
.slide-container-another {
  @extend .swiper-container;
  width: 100%;
  height: 580px;

  .slide-another {
    @extend .swiper-slide;
    background-color: $gray;
    text-align: center;

    // Center slide text vertically
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slide-another.-slide1 {
    color: $primary;
  }

  .slide-another.-slide2 {
    color: $primary;
  }

  .slide-another.-slide3 {
    color: $primary;
  }

  .slide-another.-slide4 {
    color: $primary;
  }

  /* Custom pagination bullets */
  .slide-pagination-another {
    @extend .swiper-pagination;
    margin-bottom: 80px;
  }

  .slide-pagination-bullet-another {
    @extend .swiper-pagination-bullet;
    width: rem(22);
    height: rem(22);
    text-align: center;
    line-height: rem(22);
    font-size: rem(12);
    color: $white;
    opacity: 1;
    background: rgba(0,0,0,0.2);
    margin: rem(0 4);
  }

  .slide-pagination-bullet-another:first-child {
    margin-left: 0;
  }

  .slide-pagination-bullet-another:last-child {
    margin-right: 0;
  }

  .slide-pagination-bullet-another-active {
    @extend .swiper-pagination-bullet-active;
    color: $white;
    background: $primary;
  }

  /* Custom Navigation Arrows */
  .slide-prev-another,
  .slide-next-another {
    transition: all .5s;
    background: none;
    color: lighten($primary, 5%);
    text-shadow: 2px 3px 5px black;
    width: auto;
    height: auto;
    font-size: rem(40);
  }

  .slide-prev-another {
    @extend .swiper-button-prev;
    left: 0;
  }

  .slide-prev-another:hover {
    opacity: 0.8;
    transform: translateX(-5px);
  }

  .slide-prev-another:active {
    opacity: 0.2;
  }

  .slide-next-another {
    @extend .swiper-button-next;
    right: 0;
  }

  .slide-next-another:hover {
    opacity: 0.8;
    transform: translateX(5px);
  }

  .slide-next-another:active {
    opacity: 0.2;
  }

  .slide-prev-another.swiper-button-disabled,
  .slide-next-another.swiper-button-disabled {
    opacity: 0.2;
  }

}


/************************** MEDIA QUERIES **************************/
@include media('TABLETS', min) {

  .slide-container-another {
    height: 680px;

    .slide-prev-another,
    .slide-next-another {
      font-size: rem(70);
    }

  }

}
