/**
* SLIDE INTRO
*/

// Mobile First

/* Custom slide properties */
.slide-container-intro {
  @extend .swiper-container;
  width: 100%;
  height: rem(580);

  .slide-intro {
    @extend .swiper-slide;
    background-color: $white;
    text-align: center;
    @include flex-align(center);
  }

  .slide-intro.-slide1 {
    color: $black;
  }

  .slide-intro.-slide2 {
    color: $black;
  }

  .slide-intro.-slide3 {
    color: $black;
  }

  .slide-intro.-slide4 {
    color: $black;
  }

  /* Custom pagination bullets */
  .slide-pagination-intro {
    @extend .swiper-pagination;
    margin-bottom: rem(60);
  }

  .slide-pagination-bullet-intro {
    @extend .swiper-pagination-bullet;
    width: rem(18);
    height: rem(18);
    text-align: center;
    line-height: rem(18);
    font-size: rem(12);
    color: $white;
    opacity: 1;
    background: rgba(0,0,0,0.2);
    margin: rem(0 10);
  }

  .slide-pagination-bullet-intro:first-child {
    margin-left: 0;
  }

  .slide-pagination-bullet-intro:last-child {
    margin-right: 0;
  }

  .slide-pagination-bullet-intro-active {
    @extend .swiper-pagination-bullet-active;
    color: $white;
    background: $primary;
  }

  /* Custom Navigation Arrows */
  .slide-prev-intro,
  .slide-next-intro {
    transition: all .5s;
    background: none;
    color: lighten($primary, 5%);
    text-shadow: 2px 3px 5px black;
    width: auto;
    height: auto;
    font-size: rem(40);
  }

  .slide-prev-intro {
    @extend .swiper-button-prev;
    left: 0;
  }

  .slide-prev-intro:hover {
    opacity: 0.8;
    transform: translateX(-5px);
  }

  .slide-prev-intro:active {
    opacity: 0.2;
  }

  .slide-next-intro {
    @extend .swiper-button-next;
    right: 0;
  }

  .slide-next-intro:hover {
    opacity: 0.8;
    transform: translateX(5px);
  }

  .slide-next-intro:active {
    opacity: 0.2;
  }

  .slide-prev-intro.swiper-button-disabled,
  .slide-next-intro.swiper-button-disabled {
    opacity: 0.2;
  }

}


/************************** MEDIA QUERIES **************************/
@include media('TABLETS', min) {

  .slide-container-intro {
    height: rem(495);

    .slide-prev-intro,
    .slide-next-intro {
      font-size: rem(70);
    }

  }

}
