/**
* MENU ANIMATIONS
*/

/************************** Mixins called in media-queries.scss **************************/
@include media('DESKTOPS', max) {

  // Component header-menu.scss
  .header-menu {
    visibility: hidden;
    opacity: 0;
    will-change: opacity, visibility;
    transition: opacity 0.5s, visibility 0.5s;

    &.-open {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.8s, visibility 0.8s;
    }

  }

}
