/**
* MENU ANIMATIONS
*/

// Component header-menu.scss
.header-menu {
  -webkit-animation: menuClose 0.3s ease-in 0s 1 alternate;
  animation: menuClose 0.3s ease-in 0s 1 alternate;

  // Class menu open
  &.-open{
    width: 40%;
    opacity: 1;
    -webkit-animation: menuOpen 0.5s ease 0s 1 alternate;
    animation: menuOpen 0.5s ease 0s 1 alternate;
  }

  // Animation menu open
  @-webkit-keyframes menuOpen{
    from{ opacity: 0; width: 4%; }
    to{ opacity: 1; width: 40%; }
  }
  @keyframes menuOpen{
    from{ opacity: 0; width: 4%; }
    to{ opacity: 1; width: 40%; }
  }

  // Animation menu close
  @-webkit-keyframes menuClose{
    from{ opacity: 1; width: 40%; }
    to{ opacity: 0; width: 2%; }
  }
  @keyframes menuClose{
    from{ opacity: 1; width: 40%; }
    to{ opacity: 0; width: 2%; }
  }
}

/************************** Mixins called in media-queries.scss **************************/

@include media_only('PHONES'){
  .header-menu {
    -webkit-animation: menuClose 0.3s ease-in 0s 1 alternate;
    animation: menuClose 0.3s ease-in 0s 1 alternate;

    &.-open{
      width: 100%;
      opacity: 1;
      -webkit-animation: menuOpen 0.5s ease 0s 1 alternate;
      animation: menuOpen 0.5s ease 0s 1 alternate;
    }

  }

  @-webkit-keyframes menuOpen{
    from{ opacity: 0.3; width: 25%; }
    to{ opacity: 1; width: 100%; }
  }
  @keyframes menuOpen{
    from{ opacity: 0.3; width: 25%; }
    to{ opacity: 1; width: 100%; }
  }

  @-webkit-keyframes menuClose{
    from{ opacity: 1; width: 100%; }
    to{ opacity: 0.1; width: 25%; }
  }
  @keyframes menuClose{
    from{ opacity: 1; width: 100%; }
    to{ opacity: 0.1; width: 25%; }
  }

}
