/**
* FOOTER BLOCK
*/

.footer {
  padding-top: rem(30);
  background-color: $gray;
  color: $white;

  .logo{
    width: auto;
    margin-bottom: rem(30);
  }

  .title{
    color: darken($secondary, 3%);
    font-weight: bold;
    font-size: rem(18);
  }

  .footer-map{
    position: relative;
    width: 100%;
    height: rem(300);
    margin-bottom: rem(30);
  }

  .footer-contact{
    height: rem(120);
    margin-bottom: rem(30);
  }

  .footer-social{
    height: rem(120);
    margin-bottom: rem(30);
    list-style: none;
    padding: 0;
  }

  .footer-navlist{
    list-style: none;
    padding: 0;
    text-align: left;
    height: rem(120);
    margin-bottom: rem(30);
  }

  .footer-rodape{
    color: lighten($black, 30%);
    background-color: darken($white, 5%);
    padding: rem(20 0);
  }

}

/************************** Mixins in media-queries.scss **************************/
@include media('PHONES', max){
  .footer{

    .title{ font-size: rem(16); }
    .footer-map{ height: rem(250); }
  }

}
