/**
* HEADER BLOCK
*/

//////////////////////////// Default Mobile First \\\\\\\\\\\\\\\\\\\\\\\\\
.header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1499;
  width: 100%;
  height: rem(70);
  color: $white;
  background-color: $primary;
  box-shadow: 0px 2px 5px lighten($black, 10%);

  .brand-logo {
    width: rem(120);
    line-height: rem(70);
    float: left;

    .logo{
      color: $white;
      width: 100%;
    }

  }
}

/************************** Mixins called in media-queries.scss **************************/

/////////////////////////////// Large Devices \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@mixin header--lg() {

  .header{
    height: rem(80);

    .brand-logo{
      width: rem(180);
      line-height: rem(80);
    }

  }
}
