/**
* HEADER BLOCK
*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1499;
  width: 100%;
  height: rem(80);
  color: $white;
  background-color: $primary;
  box-shadow: 0px 2px 5px lighten($black, 10%);

  .brand-logo {
    width: rem(180);
    line-height: rem(80);
    float: left;

    .logo{
      color: $white;
      width: 100%;
    }

  }
}

/************************** Mixins in media-queries.scss **************************/

@include media('DESKTOPS', max) {

  .header{
    height: rem(70);

    .brand-logo{
      width: rem(120);
      line-height: rem(70);
    }

  }
}
