/**
* SECTION BLOCK
*/

.section{
  width: 100%;
  height: auto;
  padding: rem(90 0);
  color: lighten($black, 20%);
  background-color: white;

  /* Variations */
  &.-intro{
    padding: rem(120 0);
    overflow: hidden;
    color: $black;
    background-color: darken($white, 5%);
  }

  &.-othersection{
    color: $white;
    background-color: $primary;
  }

}

/************************** Mixins in media-queries.scss **************************/

/* Phones (XS) */
@include media_only(){
  .section{
    padding: rem(60 0);

    /* Variations */
    &.-intro{ padding: rem(105 0); }
    &.-othersection{ padding: rem(60 0); }

  }
}

// /* Large Phones (SM) */
// @include large_phones{
//   .section{
//     padding: rem(70 0);

//     /* Variations */
//     &.-intro{ padding: rem(110 0); }
//     &.-othersection{ padding: rem(70 0); }

//   }
// }
