@-ms-viewport   { width: device-width; }
@-o-viewport    { width: device-width; }
@viewport       { width: device-width; }

html {
  font-size: $font-size-base;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: $roboto;
  overflow-x: hidden;
}

a,
button {
  outline: none !important;
  transition: all .4s ease;
  &:hover,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

///////////////////////////////////// MEDIA QUERIES
@include media_only("TABLETS") {

  html {
    font-size: $fontsize-base-medium;
  }

}

@include media_only("LARGE_PHONES") {

  html {
    font-size: $fontsize-base-small;
  }

}

@include media("PHONES", max) {

  html {
    font-size: $fontsize-base-extrasmall;
  }

}
