/**
* MENU TOGGLE ANIMATIONS
*/

/************************** Mixins called in media-queries.scss **************************/
@include media('DESKTOPS', max) {

  // Component header-menu-toggle.scss
  .menu-toggle {

    &.-open {

      > .bar {
        background: transparent;
        transition: all 0.3s;
      }

      > .bar:before {
        transform: rotate(-45deg) translate(-6px, 4px);
        transition: transform 0.5s;
      }

      > .bar:after {
        transform: rotate(45deg) translate(-7px, -5px);
        transition: transform 0.5s;
      }

    }

  }

}
