// COLORS

// Default Colors
$white: #ffffff;
$gray: #797979;
$lightgray: #f0f0f0;
$black: #000000;
$lightblack: #222222;

// Project Colors
$primary: #AA1423;
$secondary: #777;
$third: #EEE;

// Status Colors
$success:   #8bc34a;
$danger:    #f44336;
$warning:   #ffc107;
$info:      #03a9f4;

// Social Colors
$facebook:  #39579b;
$twitter:   #588dc9;
$youtube:   #bb0000;
$google:    #dd4b39;
$whatsapp:  #4dc247;
$instagram: #ffffff;
$instagram2: #6b463b;
$linkedin:  #0079b8;
