// FONTS

$fontastic: 'testfrontend-chaordic';
$roboto: 'Roboto-Regular';
$robotoSlab: 'RobotoSlab-Regular';
$robotoSlabBold: 'RobotoSlab-Bold';

/* Fontastic Icons*/
@include font-face(
  $fontastic,
  "../fonts/fontastic/#{$fontastic}",
  normal,
  normal,
  eot woff ttf svg
);

/* Roboto Regular*/
@include font-face(
  $roboto,
  "../fonts/roboto/#{$roboto}",
  normal,
  normal,
  ttf
);

/* Roboto Slab Regular*/
@include font-face(
  $robotoSlab,
  "../fonts/roboto-slab/#{$robotoSlab}",
  normal,
  normal,
  ttf
);

/* Roboto Slab Bold*/
@include font-face(
  $robotoSlabBold,
  "../fonts/roboto-slab/#{$robotoSlabBold}",
  normal,
  normal,
  ttf
);

