// TYPOGRAPHY

// Font Size bases root (px)
$fontsize-base-large: 17px;
$fontsize-base-medium: 15px;
$fontsize-base-small: 14px;
$fontsize-base-extrasmall: 13px;

// Font Size variables responsive (rem)
$fontsize-extralarge:  rem(60);
$fontsize-extralarge2: rem(50);
$fontsize-large:       rem(30);
$fontsize-large2:      rem(26);
$fontsize-medium:      rem(22);
$fontsize-medium2:     rem(19);
$fontsize-small:       rem(16);
$fontsize-small2:      rem(14);
