// TYPOGRAPHY

// Font Size bases root (px)
$fontsize-base-large: 17px;
$fontsize-base-medium: 16px;
$fontsize-base-small: 15px;
$fontsize-base-extrasmall: 14px;

// Font Size variables responsive (rem)
$size-1: rem(42);
$size-2: rem(32);
$size-3: rem(24);
$size-4: rem(18);
$size-5: rem(16);
$size-6: rem(15.5);
$size-7: rem(15);
